<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AutoEcole</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>appcontroleur</display-name>
    <servlet-name>appcontroleur</servlet-name>
    <servlet-class>com.controleur.appcontroleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>appcontroleur</servlet-name>
    <url-pattern>/appcontroleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Elevectrl</display-name>
    <servlet-name>Elevectrl</servlet-name>
    <servlet-class>com.modelcontroleur.Elevectrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Elevectrl</servlet-name>
    <url-pattern>/Elevectrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Appcontroleur</display-name>
    <servlet-name>Appcontroleur</servlet-name>
    <servlet-class>com.controleur.Appcontroleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appcontroleur</servlet-name>
    <url-pattern>/Appcontroleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Moniteurctrl</display-name>
    <servlet-name>Moniteurctrl</servlet-name>
    <servlet-class>com.modelcontroleur.Moniteurctrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Moniteurctrl</servlet-name>
    <url-pattern>/Moniteurctrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vehiculectrl</display-name>
    <servlet-name>Vehiculectrl</servlet-name>
    <servlet-class>com.modelcontroleur.Vehiculectrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vehiculectrl</servlet-name>
    <url-pattern>/Vehiculectrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cdctrl</display-name>
    <servlet-name>Cdctrl</servlet-name>
    <servlet-class>com.modelcontroleur.Cdctrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cdctrl</servlet-name>
    <url-pattern>/Cdctrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Leconctrl</display-name>
    <servlet-name>Leconctrl</servlet-name>
    <servlet-class>com.modelcontroleur.Leconctrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Leconctrl</servlet-name>
    <url-pattern>/Leconctrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Examenctrl</display-name>
    <servlet-name>Examenctrl</servlet-name>
    <servlet-class>com.modelcontroleur.Examenctrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Examenctrl</servlet-name>
    <url-pattern>/Examenctrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questionctrl</display-name>
    <servlet-name>Questionctrl</servlet-name>
    <servlet-class>com.modelcontroleur.Questionctrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questionctrl</servlet-name>
    <url-pattern>/Questionctrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Seriectrl</display-name>
    <servlet-name>Seriectrl</servlet-name>
    <servlet-class>com.modelcontroleur.Seriectrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Seriectrl</servlet-name>
    <url-pattern>/Seriectrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Seancectrl</display-name>
    <servlet-name>Seancectrl</servlet-name>
    <servlet-class>com.modelcontroleur.Seancectrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Seancectrl</servlet-name>
    <url-pattern>/Seancectrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Appartientctrl</display-name>
    <servlet-name>Appartientctrl</servlet-name>
    <servlet-class>com.modelcontroleur.Appartientctrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appartientctrl</servlet-name>
    <url-pattern>/Appartientctrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inscritctrl</display-name>
    <servlet-name>Inscritctrl</servlet-name>
    <servlet-class>com.modelcontroleur.Inscritctrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscritctrl</servlet-name>
    <url-pattern>/Inscritctrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assistectrl</display-name>
    <servlet-name>Assistectrl</servlet-name>
    <servlet-class>com.modelcontroleur.Assistectrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assistectrl</servlet-name>
    <url-pattern>/Assistectrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>recherchectrl</display-name>
    <servlet-name>recherchectrl</servlet-name>
    <servlet-class>com.modelcontroleur.recherchectrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recherchectrl</servlet-name>
    <url-pattern>/recherchectrl</url-pattern>
  </servlet-mapping>
</web-app>